<h1>SIGN IN</h1>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li class="bg-success"><%= error %></li>
    <% end %>
  <% end %>
</ul>

<form class="signinform" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Your username</label>
  <input type="text" name="users[username]" value="<%= @user.username %>">
  <label for="password">Password</label>
  <input type="password" name="users[password]" value="">
  <input type="submit" value="Login">
</form>
<p>Or, <a href="/users/new">create a new account</a></p>
<!-- <h4>Sally Ride, first American woman in space,
    could use TaskMaster to manage her team and even go to space!</h4>
<button class="btn btn-default btn-lg" onClick="" > Login as Sally Ride </button> -->
