<h1>SIGN UP!</h1>
<ul>
  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <li class="bg-success"><%= error %></li>
    <% end %>
  <% end %>
</ul>

<form class="signupform" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="username">New Username</label>
    <input type="text" name="users[username]" value="<%= @user.username %>" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="users[password]" value="" id="password">
  </div>
  <input type="submit" value="Launch My TaskMaster">
</form>
<p>Already have an account? <a href="/session/new">Log in here</a></p>
<h4>Sally Ride, first American woman in space,
    could use TaskMaster to manage her team and even go to space!</h4>
<button class="btn btn-default btn-lg" onClick="" > Login as Sally Ride </button>
