.navbar-default {
  background-color: transparent;
}
.navbar-brand {
  padding-top: 2px;
}

.navbar-links {
  float: right;
}

.nav-bling:hover {
  text-decoration: underline;
  border-radius: 5px;
}
