.navbar-default {
  background-color: transparent;
  border: transparent;
  margin-top: 10px;
}
// .navbar-brand {
//   padding-left: 0px;
// }
//
// .navbar-brand {
//   position: relative;
//   top: 30px;
// }

.navbar-brand {
  padding: 6px 6px;
}

.nav-bling-container {
  // position: relative;
  // top: 43px;
}

li.nav-bling:hover {
  background-color: darkslategrey;
  transition: 0.2s;
  border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}
.navbar-default .navbar-nav > li > a.nav-logout:hover {
  color: darkslategrey;
  text-decoration: underline;
}

.nav-logout:active {
  transform: translate(0px, 3px);
}

.nav-bling:active {
  transform: translate(0px, 3px);
  transition: 0s;
}

.navbar-nav > li > a.nav-logout {
  padding-bottom: 3px;
}

.nav-username {
  margin-bottom: 0px;
}

.label-as-badge {
    border-radius: 1em;
}

.label-danger {
  background-color: #c8552a;
}
