.navbar-default {
  background-color: transparent;
}
// .navbar-brand {
//   padding-left: 0px;
// }
//
// .navbar-brand {
//   position: relative;
//   top: 30px;
// }

.nav-bling-container {
  // position: relative;
  // top: 43px;
}

.navbar-links {
  float: right;
}

.nav-bling:hover {
  background-color: #9dc82a;
  transition: 0.3s;
  border-radius: 5px;
}

.nav-logout:active {
  transform: translate(0px, 3px);
}

.nav-bling:active {
  transform: translate(0px, 3px);
  transition: 0s;
}

.navbar-nav > li > a.nav-logout {
  padding-bottom: 3px;
}

.nav-username {
  margin-bottom: 0px;
}
