.invite-users-header {
  font-size: 1.25em;
  font-weight: bold;
}

.already-shared:before
{
    content: '✓';
    margin-right: 5px;
    color: #9dc82a;
}

.already-shared {
  padding-left: 20px;
}


.remove-shared-user {
  display: none;
}

.already-shared:hover {
// background-color: lightgreen;
}

.already-shared:hover .remove-shared-user {
  display: inline;
  margin-left: 10px;
}

.remove-shared-user:active {
  background-color: red;
  border-radius: 10px;
}
