.general-show-panel {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.delete-this-project-link {
  text-decoration: underline;
}

.delete-this-project-link:hover {
  color: #c8552a;
  transition: 0.2s;
}

.delete-this-project-link:active {
  transform: translate(0px, 3px);
}

.panel-default > .panel-heading {
  color: white;
  background-color: lightslategrey;
}

.invite-users-button {
  display: none;
}

.panel-heading:hover  button.invite-users-button {
  display: inline;
  color: darkslategrey;
}
