

.edit-icon {
  display: none;
}

.task-title:hover .edit-icon {
  display: inline;
  padding: 10px;
}

.edit-icon:hover {
  cursor: pointer;
  color: lightgreen;
}

.delete-icon {
  display: none;
}

.todolist-title:hover .delete-icon {
  display: inline;
  padding: 10px;
}

.delete-icon:hover {
  cursor: pointer;
  color: #c8552a;
}

.delete-icon:active {
  // transform: translate(0px, 2px);
}

.task-title:hover .delete-icon {
  display: inline;
  padding: 5px;
}

input.taskcheckbox {
  margin-right: 5px;
  display: inline;
}

.single-task-item {
  // border: 1px solid lightgrey;
}

input.taskcheckbox:hover {
  cursor: pointer;
}

input.taskcheckbox:checked + span {
  text-decoration: line-through;
  color: grey;
}

input.taskcheckbox:checked ~ ul {
  text-decoration: line-through;
  color: grey;
}

.task-description {
  font-style: italic;
}

.overdue-task-true {
  color: red;
}
