.delete-icon {
  display: none;
}

.todolist-title:hover .delete-icon {
  display: inline;
  padding: 10px;
}

.delete-icon:active {
  color: red;
}

.task-title:hover .delete-icon {
  display: inline;
  padding: 10px;
}

input.taskcheckbox {
  margin-right: 5px;
}

input.taskcheckbox:checked + span {
  text-decoration: line-through;
  color: grey;
}
