.addToDoListButton {
  margin-left: 10px;
  vertical-align: bottom;
}

.toDoListHeader {
  font-size: 1.25em;
  font-style: bold;
  display: inline;
  max-resolution: res;
}

.toDoListHeader + ul {
  padding-top: 20px;
}

.ulForToDoLists {
}
