// Place all the styles related to the todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addToDoListButton {
  margin-left: 30px;
  vertical-align: bottom;
}

.toDoListHeader {
  font-size: 1.75em;
  font-style: bold;
  display: inline;
}

.ulForToDoLists {
  margin-top: 40px;
}

.form_open {
  display: block;
}

.form_closed {
  display: none;
}
